<!DOCTYPE html>
<html lang="en">
<head>
  <title>What Animal Do You Even Lift?</title>

  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/application.css">
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<!--
  <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
  <script src="/js/jquery-1.10.2.min.js"></script>
-->
  <script src="/js/application.js" type="text/javascript"></script>
</head>
<body>
  <div class="container">
      <%= yield %>
  </div>
  <footer>
    <h5>Questions?<a href="<%= twitter_contact_url %>" target="_blank"><img src="images/bird_blue_16.png">Come at me</a>.<h5>
  </footer>
</body>
</html>
