<!DOCTYPE html>
<html lang="en">
<head>
  <title>What Animal Do You Even Lift?</title>

  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/application.css">
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js" type="text/javascript"></script>
</head>
<body>
  <div class="container">
      <%= yield %>
  </div>
  <footer>
    <h5>Questions?<a href="<%= twitter_contact_url %>" target="_blank"><img src="<%= image_path("bird_blue_16.png")%>">Come at me</a>.</h5>
    <h5 class="inspired-by">inspired by <a href="http://reddit.com/r/xxfitness/" target="_blank">r/xxfitness</a> <a href="http://i.imgur.com/rpo7B6Y.jpg" target="_blank">[1]</a><a href="http://i.imgur.com/HYFCNQf.jpg" target="_blank">[2]</a> and <a href="https://twitter.com/allareri" target="_blank">this pretty epic dude</a></h5>

  </footer>
</body>
</html>
